* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;
}


.container {
    background-color: hsl(47, 88%, 63%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border: 1px solid var(--gray-950);
    inline-size: 327px;
    border-radius: 20px;
    box-shadow: 8px 8px var(--gray-950);
    margin-inline: auto;
    background-color: var(--white);
    flex: 0 0 ;
    height: 501px;
}

.card-image > img {
    width: 100%;
    border-radius: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    align-items: flex-start;
}

.card-body > :first-child {
    font-size: 12px;
    font-weight: bold;
    padding: 4px 12px;
    background-color: var(--yellow);
    border-radius: 4px;
    color: var(--gray-950);
}

.card-body > :nth-child(2) {
    font-size: 12px;
    color: var(--gray-950);
}

.card-body > :nth-child(3) {
    font-size: 20px;
    font-weight: bold;
    color: var(--gray-950);
}

.card-body > :nth-child(3) > a {
    text-decoration: none;
    color: var(--gray-950);
}

.card-body > :nth-child(3) > a:hover {
    color: var(--yellow);
}



.card-body > :last-child {
    font-size: 14px;
    color: var(--gray-500);
}

.card-footer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card-footer > img {
    width: 32px;
    height: 32px;
    border-radius: 33px;
}

.card-footer > :last-child {
    color: var(--gray-950);
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 376px) {
    .card {
        height: 522px;
    }
}